@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lalezar&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tilt+Warp&display=swap');

/* 
========================================
root
======================================== 
*/

:root {

    --pink: #FFDFDF;
    --teal: #005E70;
    --teal-light: #D9E7EA;
    --pink-original: #F87474;
    --pink-light: #FEECEC;
}


/* 
========================================
Default
======================================== 
*/


html,
body {
    width: 100%;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}




.iam {
    font-size: 2vw;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    color: var(--pink-original);
    text-align: center;
    padding-bottom: 5vh;
    animation: flash 1s infinite;
    /* padding-left: 16vw; */


}






.logo-all {
    width: 20vw;
    height: auto;
}






.skillset {
    position: sticky !important;
    top: 0vh;
    margin-top: 0vh;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 50vw;
}

.p-img-section {
    width: 50vw;
}

.introducing {
    width: 100vw;
    display: flex;
    flex-direction: row;
}





/* 
=============================
Profile img
=============================
*/

#profile-img {
    width: 300px;
    height: 400px;
    position: absolute;
    overflow: auto;
    object-fit: cover;
    margin-left: 5vw;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.4);


}


#profile-img-s {
    width: 300px;
    height: 300px;
    position: absolute;
    overflow: auto;
    object-fit: cover;
    margin-left: 5vw;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.4);



}


#profile-img-n {
    width: 200px;
    height: 200px;
    position: absolute;
    overflow: auto;
    object-fit: cover;
    margin-left: 5vw;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.4);



}


#profile-index {
    /* width: 200px;
    height: 200px; */
    position: absolute;
    width: auto;
    height: auto;
    top: 500px;
    left: 180px;
    margin-left: 5vw;

}


@media (max-width: 1530px) {

    #profile-img,
    #profile-img-s,
    #profile-img-n,
    #profile-index {
        margin-left: 0vw;
    }




}


















.p1 {
    top: 2100px;
    left: 300px;
    z-index: 1;
}

/* ============ */


.p2 {
    top: 2680px;
    left: 400px;
    z-index: 0;
}


.p3 {
    top: 3020px;
    left: 160px;
    z-index: 1;
}

/* ============ */

.p4 {
    top: 3550px;
    left: 200px;
    z-index: 0;
}

.p5 {
    top: 3870px;
    left: 400px;
    z-index: 0;
}

/* ============ */


.p6 {
    top: 4500px;
    left: 500px;
    z-index: 0;
}


.p8 {
    top: 4720px;
    left: 240px;
    z-index: 0;
}

/* ============ */


.p10 {
    top: 5380px;
    left: 400px;
    z-index: 1;
}

.p12 {
    top: 5630px;
    left: 130px;
    z-index: 0;
}


.p13 {
    top: 5730px;
    left: 480px;
    z-index: 1;
}



/* ============ */


.p15 {
    top: 6500px;
    left: 200px;
    z-index: 0
}

.p18 {
    top: 6700px;
    left: 420px;
    z-index: 0;
}


.p19 {
    top: 6950px;
    left: 250px;
    z-index: 1;
}


.p20 {
    top: 7750px;
    left: 300px;
    z-index: 1;

}




















/* 
=============================
Profile background
=============================
*/


.empty {
    position: absolute;
    margin-left: 5vw;

}


@media (max-width: 1530px) {

    .empty {
        margin-left: 0vw;
    }




}


/* @media (max-width: 1420px) {



    .empty {
        transform: scale(0.8);

    }



} */










/* #e0 {
    top: 500px;
    left: 300px;
    font-weight: 800;
    font-family: 'Roboto', sans-serif;
    font-size: 500px;
    color: var(--teal-light);
} */


#e1 {
    background-color: var(--teal-light);
    top: 1600px;
    left: 200px;
    width: 500px;
    height: 700px;
}


#e2 {
    top: 2030px;
    left: 235px;
    width: 400px;
    height: 500px;
    --s: 50px;
    /* size of the corners */
    border: 8px solid var(--pink-original);
    padding: 10px;
    background: var(--pink-light) content-box;
    mask:
        conic-gradient(#000 0 0) content-box,
        conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0/calc(100% - var(--s)) calc(100% - var(--s));
}

#e3 {
    background-color: var(--pink-light);
    width: 380px;
    height: 400px;
    top: 2750px;
    left: 198px;
    --r: 15px;
    aspect-ratio: 1.5;
    padding: calc(2*var(--r));
    mask:
        radial-gradient(var(--r), #0000 97%, #000) round calc(-1.5*var(--r)) calc(-1.5*var(--r))/calc(3*var(--r)) calc(3*var(--r)),
        linear-gradient(#000 0 0) no-repeat 50%/calc(100% - 3*var(--r)) calc(100% - 3*var(--r));




}

#e3-1 {
    /* background-color: var(--teal); */
    /* width: 50px;
    height: 50px; */
    top: 3180px;
    left: 600px;
    z-index: 5;
    font-size: 50px;
}





#e4 {
    background-color: var(--pink-light);
    width: 350px;
    height: 400px;
    top: 3650px;
    left: 260px;


}

#e4-1 {
    top: 3620px;
    left: 585px;
    z-index: 5;
    font-size: 50px;
}



#e5 {
    width: 350px;
    height: 420px;
    top: 4555px;
    left: 300px;
    background-size: 500px;
    --r: 15px;
    aspect-ratio: 1;
    padding: calc(1.5*var(--r));
    mask:
        linear-gradient(#000 0 0) no-repeat 50%/calc(100% - 2*var(--r)) calc(100% - 2*var(--r)),
        radial-gradient(farthest-side, #000 97%, #0000) 0 0/calc(2*var(--r)) calc(2*var(--r)) round;
    background-color: var(--pink-light);


}

#e5-1 {
    width: 50px;
    height: 50px;
    top: 4540px;
    left: 280px;
    background-size: 50px;
    background-image: url('src/profile/umich-m.png');
    background-repeat: no-repeat;
    object-fit: contain;

}




#e6 {
    top: 5440px;
    left: 155px;
    --s: 80px;
    --n: 4;
    --t: 2px;
    --g: 10px;

    --c: var(--teal) 25%, #0000 0;
    background:
        conic-gradient(at var(--g) var(--t), var(--c)) calc((var(--s)/var(--n) - var(--g) + var(--t))/2) 0/ calc(var(--s)/var(--n)) var(--s),
        conic-gradient(from 180deg at var(--t) var(--g), var(--c)) 0 calc((var(--s)/var(--n) - var(--g) + var(--t))/2)/ var(--s) calc(var(--s)/var(--n));
    width: calc(round(down, 580px, var(--s)) + var(--t));
    height: calc(6*var(--s) + var(--t));

}

#e6-1 {

    background-color: var(--pink-light);
    width: 560px;
    height: 480px;
    top: 5460px;
    left: 175px;
    z-index: 0;


}

#e6-2 {
    top: 5455px;
    left: 163px;
    font-size: 50px;

}


#e7 {
    background-color: var(--pink-light);
    width: 260px;
    height: 280px;
    top: 6360px;
    left: 355px;
    z-index: 0;

}


#e7-1 {
    font-size: 50px;
    top: 6860px;
    left: 305px;
}



#e8 {
    top: 7725px;
    left: 275px;
    width: 250px;
    height: 250px;
    background-color: var(--pink-light);


}






























.list-bg {
    width: 50vw;
    height: 8400px;
    background-color: #FFF;
}


#list-item-container {
    margin: 0 auto;
    width: 500px;
    margin-top: 200px;
    display: block;



}

.list-item {
    font-size: 32px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    line-height: 1.8em;
    display: inline;
    word-break: break-all;
    color: var(--pink-light);


}


.small {
    font-size: 22px;
}




.list-item#on {
    color: var(--pink-original);
}


.list-item.small#on {
    color: #F8C4C4;
}



/* 
.list-item span {
    display: block;
} */




.tool-skill {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}


#tool-title {
    font-size: 2vw;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    color: var(--pink-original);
    text-align: center;
    margin-bottom: 10vh;
}


#tool-title.show {
    animation: fadeInDown 2s ease;

}


/* @-webkit-keyframes flip-vertical-left {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }

    100% {
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
    }
}

@keyframes flip-vertical-left {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }

    100% {
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
    }
} */


.skill-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3vw;
    transform-style: preserve-3d;
    transition: transform 0.6s;


}



.skill {
    width: 20vw;
    height: auto;
    overflow: hidden;
    height: auto;
    opacity: 0;
    filter: blur(15px);
    transition: all 1s;
}





.skill.show {
    opacity: 1;
    filter: blur(0);
    transition: opacity 1s, filter 1s, transform 1s;
    animation: p 1s 0.5s both;

}


.skill-info {
    display: flex;
    flex-direction: row;
    gap: 3.5vw;
    margin-top: 5vh;
    line-height: 1.5vw;
    text-align: center;
    font-size: 1vw;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}



.skill-back {
    display: none;
}


.each-skill {
    width: 20vw;
    height: auto;
    overflow: hidden;
    height: auto;
    opacity: 0;
    filter: blur(15px);
    transition: all 1s;

}

.each-skill.show {
    opacity: 1;
    filter: blur(0);
    transition: opacity 1s, filter 1s, transform 1s;
    animation: p 1s 0.5s both;
}


.skill-title {
    font-size: 1.8em;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    color: var(--pink-original);
    text-align: center;
}


.skill-des {
    margin-top: 3vh;
}


#s85 {
    color: #F89292;

}

#s70 {
    color: #F8C4C4;
}


/* 
.skil-100-des{
    width: 20vw;
    display:block;
}

.s100{
    display: inline;
    word-break: break-all;

} */












@media (max-width: 1420px) {

    .p-img-section {
        display: none;
    }

    .list-bg,
    .skillset {
        width: 100vw;
    }



}




@media (max-width: 756px) {

    .list-item{
        font-size: 22px;
    }

    .list-item.small{
        font-size: 16px;
    }


/* 
    .list-item {
        font-size: 20px;
        font-family: "Roboto", sans-serif;
        font-weight: 600;
        line-height: 1.8em;
        display: inline;
        word-break: break-all;
        color: #F8E3CA;


    } */



}












/* 
.skill.show:hover {
    background-color: #f8e3ca;
    opacity: 0.;
    border-radius: 50%;
} */

/* .skill.show:hover {
    -webkit-animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;

} */

/* 
.skill.show {
    opacity: 1;
    filter: blur(0);
    transition: opacity 1s, filter 1s, transform 1s;
    animation: fadeInBottomLeft 1s ease;

} */



/* @property --p {
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
}


.pie {
    --p: 0;
    --b: 2vw;
    --c: darkred;
    --w: 30vw;

    width: var(--w);
    aspect-ratio: 1;
    position: relative;
    display: inline-grid;
    margin: 5px;
    place-content: center;
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
    opacity: 0;
    filter: blur(15px);
    transform: translateX(50%);
    
    transition: all 1s;


}

.pie:before,
.pie:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    box-sizing: border-box;
}

.pie:before {
    inset: 0;
    background:
        radial-gradient(farthest-side, var(--c) 98%, #0000) top/var(--b) var(--b) no-repeat,
        conic-gradient(var(--c) calc(var(--p)*1%), #0000 0);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(99% - var(--b)), #000 calc(100% - var(--b)));
    mask: radial-gradient(farthest-side, #0000 calc(99% - var(--b)), #000 calc(100% - var(--b)));
}

.pie:after {
    inset: calc(50% - var(--b)/2);
    background: var(--c);
    transform: rotate(calc(var(--p)*3.6deg)) translateY(calc(182% - var(--w)/2));
}


.animate:before {
    animation: p 1s 0.5s both;
}


.no-round:before {
    background-size: 0 0, auto;
}

.no-round:after {
    content: none;

}

@keyframes p {
    from {
        --p: 0;
    }

}


.pie.show {
    opacity: 1;
    filter: blur(0);
    transition: opacity 1s, filter 1s, transform 1s;
    animation: p 1s 0.5s both;

}

.pie.animate.show {
    height: 400px;
    width: 400px;
} */



.languages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25vh;
}

#lang-title {
    font-size: 2vw;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    color: var(--pink-original);
    text-align: center;
    margin-bottom: 5vh;
    height: auto;
    width: 30vw;

}


#lang-title.show {
    animation: fadeInDown 2s ease;

}



.langs-type {
    width: 100vw;
    height: auto;
    font-size: 3.5vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    gap: 5vw;
    margin-top: 5vh;
    margin-bottom: 10vh;
}

span {
    /* cursor: pointer; */
    -webkit-text-stroke: 0.1vw var(--pink-original);
    background-image: linear-gradient(0deg, var(--pink-original), var(--pink-original));
    -webkit-background-clip: text;
    color: transparent;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in;

}

.Eng {
    background-position: 0% 0%;
    background-size: 0% 100%;
}

.Kor {
    background-position: 100% 0%;
    background-size: 0% 100%;
}

span:hover {
    background-size: 100% 100%;
}


.study {

    width: 100vw;
    text-align: center;
    font-size: 2vw;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    color: var(--pink-original);
    margin-top: 30vh;

}

/* .study-flow {
    width: 80vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10vw;
    position: relative;
} */

.study-flow {
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10vw;
    position: relative;
    z-index: 50;
}


/* svg{
    display: flex;
    overflow: hidden;
    position: absolute;
} */


.path1 {
    fill: none;
    stroke: var(--pink-original);
    stroke-width: 2px;
    stroke-dasharray: 5508.6;
    animation: drawPath1 0.2s linear, floating 2.2s linear infinite;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 5vw;
    margin-bottom: 5vw;
    border-bottom: 5vw;

}


@keyframes drawPath1 {
    0% {
        stroke-dashoffset: 5508.6;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes floating {
    50% {
        transform: translate3d(0, 40px, 0);
    }
}



/* .study-container{
    position: absolute;
    top:0;
} */


.study {
    margin-bottom: 5vw;
}


.study-sec {
    font-size: 2.5vw;
    font-family: "Roboto", sans-serif;
    font-weight: 600;



}



.study-detail {
    font-size: 1vw;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 1.2vw;
    ;
}


#f1 {
    text-align: left;
    padding-left: 10vw;


}



.years {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 1.8vw;
    color: var(--pink-original);

}

.focus {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1.2vw;
    color: var(--pink-original);
    padding: 1vw 0;


}

.study-container {
    height: auto;
    width: 100%;
}

.history {
    position: absolute;
    top: 1095vh;
    left: 0;
    z-index: 100;
    height: 250vw;
    width: 100vw;
    font-size: 2vw;


}

#sec1 {
    position: absolute;
    top: 15vw;


}

#sec2 {
    position: absolute;
    top: 110vw;
    right: 10vw;
    text-align: right;
    width: 35vw;
    line-height: 1.8vw;
}



#sec3 {
    position: absolute;
    top: 142vw;
    left: 10vw;
    width: 40vw;
    line-height: 1.8vw;
    z-index: 100;
}



#sec4 {
    position: absolute;
    top: 190vw;
    right: 10vw;
    text-align: right;
    width: 35vw;
    line-height: 1.8vw;
}


.buttons {
    border: 0.15vw solid var(--pink-original);
    /* border-color:var(--pink-original); */
    background-color: transparent;
    width: 8vw;
    height: 3vw;
    position: absolute;
    top: 100vw;
    right: 27vw;
    border-radius: 10vw;
    color: var(--pink-original);
    font-family: "Roboto", sans-serif;

    font-size: 1.1vw;
    font-weight: 500;
    cursor: pointer;


}

/* #sec1,
#sec2,
#sec3,
.buttons {
    opacity: 1;
    filter: blur(0);
    transition: opacity 1s, filter 1s, transform 1s;
    animation: p 1s 0.5s both;


}

#sec1.show,
#sec2.show,
#sec3.show,
.buttons.show {
    height: auto;
    overflow: hidden;
    height: auto;
    opacity: 0;
    filter: blur(15px);
    transition: all 1s;

} */


.buttons:hover {
    background-color: var(--pink-light);
    color: var(--pink-original);
    font-weight: 600;


}




#artlink1 {
    position: absolute;
    top: 110vw;
    left: 54vw;
    cursor: pointer;
    z-index: 100;

}



#artlink {
    position: absolute;

    top: 142vw;
    left: 40vw;
    cursor: pointer;
    z-index: 100;

}

#chslink {
    position: absolute;
    top: 212vw;
    right: 10vw;
    ;
    width: 6vw;
}





@media (max-width: 768px) {

    .main-content {
        margin-top: 150px;
    }



    .iam {
        font-size: 5vw;


    }








    .skillset {
        position: sticky !important;
        top: 5vh;

    }

    #list-item-container {
        margin-top: 5vh;
        width: 80vw;

    }


    .list-bg {
        width: 100vw;
        height: 1150vh;
    }


    .tool-skill {
        height: 80vh;
        width: 100%;

    }


    #tool-title {

        margin-bottom: 2vw;
        font-size: 4vw;


    }

    .tool-container {
        display: flex;
        flex-direction: row;
    }

    .skill-img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 7vw;
        transform-style: preserve-3d;
        transition: transform 0.6s;


    }


    .skill-info {
        display: flex;
        flex-direction: column;
        gap: 7vw;
        line-height: 2vw;
        text-align: left;
        font-size: 3vw;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        width: 40vw;
        margin-left: 5vw;


    }

    .skill {
        width: 40vw;
    }

    .each-skill.animate.show,
    .skill-des {
        width: 40vw;
        height: 40vw;
        line-height: 4.5vw;
        margin-top: 2vw;

    }



    .each-skill {
        width: 20vw;
        height: auto;
        overflow: hidden;
        height: auto;
        opacity: 0;
        filter: blur(15px);
        transition: all 1s;

    }

    .skill-title {
        text-align: left;
    }


    .languages {
        margin-top: 5vw;

    }

    #lang-title {
        font-size: 4vw;

    }

    .study {
        margin-top: 5vw;
        font-size: 4vw;

    }


    span {

        -webkit-text-stroke: 0.1vw #f87474;
        font-size: 8vw;


    }

    #f1 {
        font-size: 3vw;
        width: 40vw;
        line-height: 4vw;
    }


    .years {
        font-size: 20px !important;
        line-height: 2.5vw;


    }


    .focus {
        font-size: 16px !important;
        line-height: 22px !important;


    }


    .study-detail {
        font-size: 14px !important;
        line-height: 2.5vw;
    }

    .study-container {
        height: 210vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        width: 100vw;


    }

    .history {
        position: absolute;
        height: 180vh;
        display: flex;
        flex-direction: column;
        width: 100vw;
        top: 1280vh;
        margin-top: 10vh;
    }


    .years {
        font-size: 18px;
        padding: 20px 0;
    }

    .focus {
        font-size: 14px;
        padding: 20px 0;


    }

    .study-detail {
        font-size: 14px;
        line-height: 20px;
        width: 85vw;
    }

    .study-sec {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    #sec1 {
        width: 100vw;
        text-align: center;
        position: relative;
        left: 0;
        right: 0;
        padding: 0;
    }

    #sec1 {
        display: none;
    }

    #sec2 {

        text-align: left;
        width: 93vw;
        height: auto;
        position: relative;
        left: 0;
        right: 0;
        padding: 0;
        top: 0;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 7vw;

    }



    #sec3 {
        width: 93vw;
        height: auto;
        text-align: right;
        position: relative;
        left: 0;
        right: 0;
        padding: 0;
        top: 0;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;




    }

    #sec4 {

        text-align: left;
        width: 50vw;
        width: 93vw;
        height: auto;
        position: relative;
        left: 0;
        right: 0;
        padding: 0;
        top: 0;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 7vw;


    }

    .study-flow {
        width: 100vw;
        margin-bottom: 10vh;


    }

    #nopad {
        padding-left: 0;
    }


    svg {
        position: relative;
        display: none;
    }



    #artlink1 {
        top: 50px;
        left: 65%;
        width: 110px;
        height: 44px;
        box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.1);
        z-index: 100;


    }



    #artlink {
        top: 315px;
        left: 8%;
        width: 110px;
        height: 44px;
        box-shadow: -2px 2px 5px rgb(0, 0, 0, 0.1);
        z-index: 100;



    }

    #chslink {
        top: 870px;
        left: 70%;
        width: 80px;
        height: 44px;
        box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.1);


    }


    .buttons {
        border: 2px solid #F87474;
        font-weight: 600;
        font-size: 14px !important;

    }














}