/* ========================================
root
========================================  */

:root {

    --pink: #FFDFDF;
    --teal: #005E70;
    --teal-light: #D9E7EA;
    --pink-original: #F87474;
    --pink-light: #FEECEC;
    --teal-superlight: #F2F7F8;
}












html,
body {
    width: 100%;
    background: #FFF;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
    line-height: 0.7vw;






}



.chart {
    width: 80vw;
    height: auto;
    margin-top: 10vh;
    margin-bottom: 8vh;
}



#container {
    width: 80vw;
    background-color: white;
    display: flex;
    flex-direction: column;

    align-items: center;
    overflow: hidden;

}


.visible-content {
    width: 100%;
    height: 20vw;
    background-color: var(--teal-light);
    text-align: center;
    padding-top: 3vw;
    box-sizing: border-box;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.intro {
    height: 30vw;
    width: 100%;
}



.hidden-content {
    width: 100%;
    height: 20vw;
    background-color: var(--teal-superlight);
    display: none;
    text-align: center;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
    position: relative;
    overflow: hidden;
    z-index: 0;
    padding-top: 3vw;
    box-shadow: inset 0 5px 10px -5px rgba(0, 0, 0, 0.5);
}

.hidden-content.show {
    display: block;
    animation: slideInDown 1s ease-in;

}


.hidden-content.close {
    animation: slideInUp 1s ease-out;

}

#h1 {
    height: 117vw;

}

#h2 {
    height: 97vw;
}


#h3 {
    height: 22vw;
}

#h4 {
    height: 35vw;
}


#h5 {
    height: 78vw;
}


#h6 {
    height: 75vw;
}



#wide {
    height: 4vw;

}


.button-container {
    background-color: white;
    z-index: 10;

}


.toggle-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 9vw;
    height: 2.5vw;
    font-size: 1vw;
    font-weight: 500;

    cursor: pointer;
    background-color: #FFF;
    color: var(--teal);
    border: none;
    text-align: center;
    border: 1px var(--teal) solid;
    border-radius: 10vw;
    z-index: 10;
    margin-top: 2.5vw;
}


.toggle-button:hover {
    font-weight: 600;
    text-decoration: underline;
    background-color: var(--pink-light);
    color: var(--teal);
}

.arrow {
    margin-left: 0.5vw;
    width: auto;
    height: 0.5vw;
    transition: transform 0.5s ease;
}

.arrow.rotate {
    transform: rotate(180deg);

}



.t {
    width: auto;
    height: 8vw;
    margin: 0.7vw;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
    position: relative;
    z-index: 1;


}



#v2 {
    height: 23vw;
}


#v3 {
    height: 18vw;
}


#v4 {
    height: 24vw;
}

#v5 {
    height: 19vw;
}

.container-bar {
    width: 100%;
    height: 100%;
}


.cb0 {
    width: 39%;
    height: 20vw;
    background-color: #F8E3CA;
    position: absolute;
    top: 15vw;

}

.cb1 {
    width: 100%;
    height: 14vw;
    background-color: #F8E3CA;
    position: absolute;
    top: 56.2vw;

}


.cb2 {
    width: 100%;
    height: 16vw;
    background-color: #F8E3CA;
    position: absolute;
    top: 97.5vw;

}


.cb3 {
    width: 100%;
    height: 12vw;
    background-color: #F8E3CA;
    position: absolute;
    top: 140.8vw;

}

.cb4 {
    width: 100%;
    height: 17vw;
    background-color: #F8E3CA;
    position: absolute;
    top: 180vw;

}


.cb5 {
    width: 100%;
    height: 12vw;
    background-color: #F8E3CA;
    position: absolute;
    top: 224.5vw;

}


.cb5 {
    width: 100%;
    height: 12vw;
    background-color: #F8E3CA;
    position: absolute;
    top: 225vw;

}

.cb6 {
    width: 100%;
    height: 12vw;
    background-color: #F8E3CA;
    position: absolute;
    top: 265vw;

}

#videohead {
    margin-top: 7vw;
}

.video-content {
    width: 80%;
    height: 20vw;
    background-color: white;
    margin-bottom: 7vw;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 4vw;


}



.cb7 {
    width: 100%;
    height: 16vw;
    background-color: #F8E3CA;
    position: absolute;
    top: 300vw;

}




.f {
    width: auto;
    height: 11vw;
    margin: 0.7vw;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);


}

.p {
    width: auto;
    height: 6vw;
    margin: 0.7vw;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);

}



.b {
    width: auto;
    height: 12vw;
    margin: 0.7vw;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);

}

.d {
    width: auto;
    height: 7vw;
    margin: 0.7vw;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);

}


.vd {
    width: 23vw;
    height: 15vw;
    margin: 0.9vw;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);

}

.et {
    width: auto;
    height: 8vw;
    margin: 0.7vw;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);

}

#round {
    border-radius: 50vw;
}


span {
    font-weight: bold;
}



.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: auto;
    margin: 10vw 0;
    z-index: 5;

}

.company {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.intro-des {
    width: 70%;
}


.logos {
    display: flex;
    justify-content: flex-end;
    gap: 1vw;
}

#logo {
    width: auto;
    height: 6.5vw;
    margin-bottom: 1vw;

}



.job-title {
    font-size: 1.3vw;
    font-weight: 600;
    margin-top: 2vw;
    line-height: 1.3vw;
}

.job-comp {
    font-size: 1vw;
    font-weight: 500;
    margin-top: 0.8vw;
    text-align: right;
    line-height: 1.3vw;


}

.job-date {
    font-size: 1vw;
    margin-top: 0.2vw;
    text-align: right;
    line-height: 1.3vw;

}

.intro-des {
    font-size: 1vw;
    padding-left: 3.5vw;
    line-height: 1.3vw;
}

.space {
    font-size: 1.5vw;
    font-weight: 600;
    color: var(--teal);
    padding-top: 7vw;
    padding-bottom: 3vw;
    width: 100%;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    z-index: 5;
}



.loading-spinner {
    width: 5vw;
    height: 5vw;
    background-image: url('src/me-24.png');
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    background-size: 100%;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 8vw;
    left: 50%;
    transform: translate(-50%, -50%);

}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(720deg);
    }
}


.h-group {
    display: none;
}

.hidden-h-group.show .h-group {
    display: block;
}



@media (max-width: 1000px) {

    .intro {
        margin-top: 15vw;
    }

}





@media (max-width: 768px) {
    body {
        margin-top: 20vw;

    }

    .intro,
    .company {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 85%;
    }

    .logos {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;

    }

    #logo {
        width: 80px;
        height: 100%;
    }


    .job-title {
        font-size: 18px;
        line-height: 25px;
    }

    .job-comp {
        font-size: 16px;
        line-height: 25px;

    }

    .job-date {
        font-size: 16px;
        line-height: 25px;

    }

    .intro-des {
        font-size: 14px;
        line-height: 18px;
        width: 85%;
        margin-top: 15px;
    }

    .space {
        font-size: 18px;
        height: 30px;
    }

    #container {
        width: 92%;
    }





    .visible-content {
        margin: 0;
        padding-top: 10px;
    }


    .t {
        height: 88px;
        margin: 10px;
    }

    #invisible {
        display: none;
    }

    .toggle-button {
        width: 130px;
        height: 30px;
        font-size: 16px;
    }

    #v1 {
        height: 300px;

    }

    #h1 {
        height: 2720px;
    }


    .f {
        height: 120px;
        margin: 10px;
    }

    #v2 {
        height: 370px;

    }

    #h2 {
        height: 2410px;
    }



    .p {
        height: 88px;
        margin: 10px;
    }

    #v3 {
        height: 305px;

    }

    #h3 {
        height: 700px;
    }



    .b {
        height: 150px;
        margin: 10px;
    }

    #v4 {
        height: 425px;

    }

    #h4 {
        height: 890px;
    }


    .d {
        height: 88px;
        margin: 10px;
    }

    #v5 {
        height: 305px;


    }

    #h5 {
        height: 2080px;
    }

    .et,
    #wide {
        height: 88px;
        margin: 10px;
    }

    #v6 {
        height: 305px;


    }

    #h6 {
        height: 2080px;
    }


    .video-content,
    .videos {
        width: 95%;
        height: 680px;

    }


    .vd {
        height: 190px;
        width: 94%;
        margin: 15px 10px;

    }


    .arrow {
        margin-left: 12px;
        width: auto;
        height: 10px;
        transition: transform 0.5s ease;

    }

    .toggle-button {

        width: 150px;
        height: 44px;
        font-size: 14px;
        font-weight: 500;
        border: 1px #F87474 solid;

    }

    .loading-spinner {
        width: 100px;
        height: 100px;
        top: 100px;
    }



}