:root 
{

  --pink:#FFDFDF;
  --teal:#005E70;
}





body {
    cursor: none;
}

.custom-cursor {
    position: fixed;
    width: 50px;
    height: 50px;
    border: 2px solid var(--pink);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family: Arial, sans-serif;
    background-color: var(--teal);
    pointer-events: none;
    z-index: 10000;
    transform: translate(-50%, -50%);
}

.sec {
    cursor: none !important;
}