@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
}

.index a {
    cursor: none;
}


.oifm a,
.oifd a{
    cursor: none;
}




.title {
    /* height: 70vh;
    width: 100%; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    margin-top: 3vh;

}


.mainimg-container {
    margin-top: 10vw;
}


.mainimg1 {
    width: 10vw;
    height: auto;
    object-fit: contain;
    margin-left: 8vw;

}


.mainimg2 {
    width: 32vw;
    height: auto;
    object-fit: contain;

}


.title-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */


}

.tools {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 3vw;
    margin-bottom: 5vw;
    margin-right: 3vw;
}

.skill-logo {
    width: 2vw;
    height: auto;
    padding-right: 1vw;

}

.title-box {
    color: #0085FF;
    font-family: 'Roboto', sans-serif;
    font-size: 3.5vw;
    font-style: normal;
    font-weight: 500;

}



.title-des {
    /* list-style: none; */
    font-family: 'Inter', sans-serif;
    padding-left: 2vw;
    line-height: 1.8em;
    font-size: 1vw;
    padding-top: 3vh;
    color: #003087;
    font-weight: 600;



}



.proto-des {
    margin-bottom: 50px;
    margin-top: 10px;
}




.brief {
    width: 40vw;
    height: 5vw;
    background-color: #D9F1FE;
    border-radius: 1vw 0 0 1vw;
    margin-top: 2vw;
}



#cal-img,
#group-img {
    width: auto;
    height: 2em;
}

.cal,
.group {
    fill: #003087;
}

.brief,
.cal-box,
.group-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1vw;
}


.group-box {
    padding-left: 2vw;

}


.cal-des,
.group-des {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1vw;
    padding-left: 0.5vw;


}









.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.final-prototype,
.client,
.executive-summary,
.style-guide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 8vw 0;
}



.final-prototype-title,
.client-title,
.problem-statement-title,
.executive-summary-title,
.style-guide-title,
.key-title {
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    color: #0085FF;
    font-weight: 700;

}


.final-prototype-des {
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    font-weight: 600;
    padding: 5vh 0;
}






.frame {
    display: flex;
    flex-direction: row;
    gap: 5vw;
}





.mobile {
    width: 25em !important;
    height: 40em !important;
    border-style: none;

}




.desktop {

    width: 55em !important;
    height: 40em !important;
    border-style: none;

}

.client-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5vw 0;

}

.client-des-container {
    padding-left: 5vw;
    display: flex;
    flex-direction: column;

    justify-content: center;



}


.client-photo {
    width: 8em;
    height: auto;
}



.client-name,
.user-scenario,
.problem {
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    font-weight: 700;
    padding-bottom: 2vw;

}


.client-des {
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    font-weight: 500;
    line-height: 1.5em;

}


.problem-statement-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65vw;
    padding: 5vw 20vw;
    height: auto;
    background-color: #D9F1FE;

}



.problem-statement {
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding-top: 5vw;

}


.problem-statement-photo {
    height: auto;
    width: 18em;
    border-radius: 1vw;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.problem-statement-des {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5vw;

}

.us-des,
.problem-des {
    font-size: 0.9em;
    line-height: 1.5em;
    font-weight: 500;
    padding-top: 0.5vw;
}


.us-des {
    padding-bottom: 1vw;
}




.executive-summary-des {
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    font-weight: 500;
    line-height: 1.5em;
    text-align: center;
    padding-top: 5vw;
    width: 40vw;


}


span {
    font-weight: 800;
}



.kd-box {
    display: flex;
    flex-direction: row;
    font-family: 'Inter', sans-serif;
    font-size: 1vw;
    font-weight: 700;
    padding-top: 5vw;
}



.kd2-3 {
    display: flex;
    flex-direction: column;

    gap: 5vw;
    padding-left: 5vw;
}

.kd1 {
    display: flex;
    flex-direction: column;
    width: 15vw;
}


.kd2,
.kd3 {
    display: flex;
    flex-direction: column;
    width: 25vw;
}






.kd-title {
    padding-bottom: 1vw;
    color: #003087;
    font-size: 1rem;
}



.kd {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);

}


.color-title,
.typefaces-title,
.icon-title,
.illustrate-title,
.interactive-title {

    font-family: 'Inter', sans-serif;
    font-size: 1em;
    font-weight: 700;
    padding-top: 5vw;
    color: #003087;
    text-align: center;
    padding-bottom: 2vw;

}


.color,
.typefaces,
.icon,
.illustrate,
.interactive {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec {
    display: flex;
    flex-direction: row;
    gap: 5vw;
}

.color-img,
.typefaces-img,
.icon-img-blue,
.icon-img-white,
.illustrate-img {
    width: 30rem;
}

.interactive-img {
    width: 60rem;
}









.client-container {
    opacity: 0;
    filter: blur(15px);
    /* transform: translateX(-50%); */
    transition: all 1s;
}

.client-container.show {
    opacity: 1;
    filter: blur(0);
    /* transform: translateX(0);  */
}





.problem-statement {
    opacity: 0;
    filter: blur(15px);
    /* transform: translateX(50%); */
    transition: all 1s;
}

.problem-statement.show {
    opacity: 1;
    filter: blur(0);
    /* transform: translateX(0);  */
}



.kd-box,
.sec,
.interactive {
    opacity: 0;
    filter: blur(15px);
    /* transform: translateX(50%); */
    transition: all 1s;
}

.sec.show,
.interactive.show,
.kd-box.show {
    opacity: 1;
    filter: blur(0);
    /* animation: fadeInUp 1s ease; */
    /* transform: translateX(0);  */
}




.key-design-decision {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5vw;
    font-size: 1vw;
    /* justify-content: center; */
    background-color: #D9F1FE;
    width: 100vw;
    padding: 5vw 0vw;

}

.key-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    opacity: 0;
    filter: blur(15px);
    transition: all 1s;



}

.key-container.show {
    opacity: 1;
    filter: blur(0);

}



.key-subtitle {
    width: 20vw;
    font-weight: 800;
    color: #003087;
    font-size: 1.2rem;
    /* justify-content: center;
    align-items: center; */


}

.key-img {
    width: 25rem;
    margin: 3vw 0;
}

.key-des {
    font-weight: 500;
    padding-top: 0.5vw;
    line-height: 1.5vw;
    color: black;
    font-size: 1rem;

}

.key-title {
    padding-bottom: 5vw;
}


.key-main-des {
    padding-bottom: 5vw;
    width: 40vw;
    line-height: 1.5em;
    font-size: 1rem;


}


.key-main-des {
    text-align: center;
}



li a {
    color: #003087;
    text-decoration: underline;
}

li a:hover {
    color: #0085FF;
    text-decoration: underline;
}



/* ==============================================
pj shift button
============================================== */

.shift-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 2.5vw;
    margin-right: 3vw;
}

.b-shift-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5em 0;
}


.shift-previous {
    background-color: #0085FF;
    margin-right: 2vw;
    cursor: none;
    color: white;
    font-size: 1vw;
    font-weight: 600;
    padding: 1vw 2vw;
    border-radius: 10vw;
}


.shift-previous:hover {
    box-shadow: 0.3vw 0.3vw 0.5vw rgba(0, 0, 0, 0.2);
}


.shift-next {
    border: 1px solid #0085FF;
    cursor: none;
    color: #003087;
    font-size: 1vw;
    font-weight: 600;
    padding: 1vw 2vw;
    border-radius: 10vw;


}



.shift-next:hover {
    box-shadow: 0.3vw 0.3vw 0.5vw rgba(0, 0, 0, 0.2);
}


.column-container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


.column-container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}



.oifm,
.oifd {
    color: #FFF !important;
    background-color: #003087 !important;
    font-weight: 700;
    padding: 1.5em 3em;
    border-radius: 20vw;
    cursor: none;
}


.oifm a,
.oifd a {
    color: #FFF !important;
}


.oifm:hover {
    background-color: #0085FF !important;
}

.oifd:hover {
    background-color: #0085FF !important;

}







@media (max-width: 768px) {

    .frame {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 20px;
        margin-top: 30px;
    }

    .proto-des {
        display: none;

    }

    .mobile {
        display: none;
        /* width: 86vw !important;
        height: 200vw !important; */

    }

    .desktop {
        display: none;

        /* width: 90vw !important;
        height: 76vw !important; */
    }


    .oifm,
    .oifd {
        color: #FFF !important;
        background-color: #003087 !important;
        font-weight: 700;
        padding: 16px 20px;
        border-radius: 20vw;
        cursor: none;
        font-size: 14px;
    }



    .final-prototype-title,
    .client-title,
    .problem-statement-title,
    .executive-summary-title,
    .style-guide-title,
    .key-title {
        font-size: 18px;

    }


    .final-prototype-des,
    .client-des,
    .problem-statement-des,
    .executive-summary-des,
    .style-guide-des,
    .key-des {
        font-size: 14px;
        line-height: 16px;
        /* list-style: none; */
        width: 80%;

    }

    .executive-summary-des {
        width: 80vw;
        line-height: 20px;
    }

    .client {
        width: 80%;
    }

    .client-name {
        font-size: 16px;
        text-align: center;
        padding-top: 20px;

    }

    .client-des {
        text-align: center;
        width: 100%;
        padding-top: 20px;
        line-height: 20px;
    }

    .final-prototype-des {
        text-align: center;
    }

    .client-container {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

    .client-photo {
        width: 100px;
        height: 100px;
    }

    .user-scenario,
    .problem {
        font-size: 16px;
        width: 100%;
    }

    .problem {
        margin-top: 10px;
    }

    .us-des,
    .problem-des {
        font-size: 14px;
        padding-top: 10px;
    }

    .problem-statement-box {
        width: 85%;
    }

    .problem-statement-des {
        padding: 0;
    }


    .problem-statement {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .problem-statement-photo {
        width: 70vw;
        height: 100%;
        margin-bottom: 30px;
        margin-top: 20px;

    }


    .kd-box {
        width: 80%;
        display: flex;
        flex-direction: row;
        margin-top: 40px;

    }

    .kd,
    .kd1,
    .kd2-3 {

        width: 38vw;
    }


    .kd-title {
        font-size: 14px;
        width: 38vw;
        line-height: 18px;
        margin-bottom: 10px;

    }

    .sec {
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    /* 
    .color,
    .typefaces,
    .icon,
    .illustrate {
        width: 49vw;
    } */


    .color-title,
    .typefaces-title,
    .icon-title,
    .illustrate-title,
    .interactive-title {

        font-size: 14px;
        /* width: 38vw; */
        line-height: 18px;
        margin-bottom: 10px;
    }


    .color-img,
    .typefaces-img,
    .icon-img-blue,
    .icon-img-white,
    .illustrate-img {
        width: 70vw;
        height: auto;
    }

    .interactive-img {
        width: 85vw;
        margin-bottom: 30px;
    }


    .key-design-decision {
        width: 90vw;
    }



    .key-main-des {

        font-size: 14px;
        line-height: 16px;
        width: 80vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;



    }




    .key-container {
        font-size: 14px;
        line-height: 16px;
        width: 80vw;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin: 30px 0;
    }



    .key-subtitle {
        font-size: 16px;
        width: 100%;
        text-align: center;
    }

    .key-img {
        width: 70vw;
        height: auto;
    }

    .key-des {
        width: 100%;
        padding-top: 10px;
    }


    #kd-section {
        margin: 50px 0;
    }

    .shift-next,
    .shift-previous {
        font-size: 14px;
        padding: 14px 20px;
        margin: 0;
        margin-bottom: 18px;
    }

    .shift-container {
        display: flex;
        flex-direction: row;
        width: 80%;
        justify-content: space-between;
        margin: 0;
    }

    .b-shift-container {
        margin: 0;
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        width: 80%;
        justify-content: space-between;
    }

    .openInFigma {
        padding: 20px 30px;
    }

    /* .oifm,
    .oifd {
        padding: 20px 30px;
    } */




}