/* ========================================
root
========================================  */


:root 
{

  --pink:#FFDFDF;
  --teal:#005E70;
}


/* ========================================
header
========================================  */



.header {
    width: 90vw;
    height: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2vw 5vw;
    background-color: var(--teal);


}


@media (max-width: 1000px) {

    .header {
        position: fixed;
        top: 0;
        z-index: 2000;
        background-color: var(--teal);
        width: 100vw;
        height: 80px;
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0;
    }



}


.header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}



.logo {
    width: 4em;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    cursor: none;
    animation: wobble 2s ease-in-out;



}



@media (max-width: 1000px) {

    .logo {
        position: fixed;
        top: 20px;
        left: 20px;
        margin: 0;
        width: 40px;
        height: 40px;

    }

}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}


@media (max-width: 1000px) {
    .menu {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 80px;
        right: 0px;
        height: 100%;
        width: 250px;
        background-color: #FCEDDA;
        text-align: left;
        align-items: left;
        justify-content: flex-start;
        align-content: flex-start;
        transform: translateX(100%);
        z-index: 1002;

    }
}






.ame,
.ux,
.chs,
.art,
.my {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 600;
    /* color: #F87474; */
    color: var(--pink);
    text-align: center;
    padding: 0 1.5vw;
    cursor: none;

}


a {
    text-decoration: none;
}


.email {
    text-decoration: none;
    height: 3em;
    width: 3em;
    padding-right: 1.5vw;
    cursor: none;


}

.linkedin {
    text-decoration: none;
    height: 3em;
    width: 3em;
    cursor: none;


}


/* ========================================
footer
========================================  */

.footer {
    height: 15%;
    width: 100%;
    background-color: var(--teal);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
}


.ty-text {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    padding-bottom: 1vw;
    color: var(--pink);
}


.footer-icon {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    height: 5vh;
    width: auto;
    padding: 2.5vh 0 2.5vh 0;
}

.email-footer,
.linkedin-footer {
    height: 5vh;
    width: auto;
    cursor: none;

}

.copyright {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 0.9em;
    color: var(--pink);


}




@media (max-width: 1000px) {
    .footer {
        padding: 5vw 0;
        height: 120px;
    }



    .ty-text {
        font-size: 14px;
        line-height: 18px;
        font-weight: 600;
        width: 80%;
    }


    .copyright {
        font-size: 13px;
        width: 80%;
        line-height: 18px;
    }


    .footer-icon {
        padding: 10px 0;
        height: 8vw;
        gap: 30px;

    }

    .linkedin-footer,
    .email-footer {
        width: 38px;
        height: 38px;
    }

}














/* ========================================
burger
========================================  */








.desktop-sns {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.burger-info {
    display: none;
}

.menu-toggle {
    display: none;
}


@media (max-width: 1000px) {

    .menu.open {
        transform: translateX(0);
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: flex-start;
        text-align: left;
        align-content: flex-start;
        animation: fadeInRight 0.4s ease;
        margin: 0;
        background-color:  var(--teal);
    }

    .menu-toggle {
        display: flex;
        flex-direction: column;
        width: 40px;
        height: 40px;
        cursor: pointer;
        position: fixed;
        right: 20px;
        padding: 0;
        margin: 0;

    }

    .menu-toggle .bar {
        width: 40px;
        height: 4px;
        background-color: var(--pink);
        margin: 4px 0;
        transition: all 0.3s ease;
        z-index: 1100;
        border-radius: 5px;
        padding: 0;

    }

    .menu-toggle.active {
        width: 40px;
    }

    .menu-toggle.active .bar:nth-child(1) {
        transform: rotate(45deg) translate(8px, 8px);
    }

    .menu-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.active .bar:nth-child(3) {
        transform: rotate(-45deg) translate(8px, -8px);
    }

    .content-overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1000;
    }

    .content-overlay.active {
        display: block;
    }




}





@media (max-width: 1000px) {

    .burger-footer {
        display: flex;
        flex-direction: row;
        position: absolute;
        bottom: 12vh;
        border: 0;
        border-style: none;
        text-decoration: none;
        width: 100%;
        height: 100px;
        margin-bottom: 10px;


    }

    .burger-info {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        justify-content: center;
        width: 65%;
        padding-left: 9%;


    }

    .burger-name {
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        color: var(--pink);
        padding-bottom: 10px;
    }

    .burger-short {
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        color: #FFF;
        padding-top: 5%;
        padding-bottom: 10px;
        line-height: 18px;

    }

    .burger-copy {
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        color: var(--pink);
        padding-top: 5%;
    }


    .sns {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        width: 35%;
        padding-left: 0;
        gap: 15px;
    }

    .desktop-sns {
        display: none;
    }



    .email,
    .linkedin {
        width: 44px;
        height: 44px;
        padding: 0;
        margin: 0;
        text-decoration: none;
    }

    .menu a {


        display: flex;
        flex-direction: column;
        color: var(--pink);
        justify-content: center;
        align-items: left;
        border-collapse: separate;
        border-spacing: 50px;
        margin-bottom: 0;
    }


    .ame,
    .ux,
    .chs,
    .art,
    .my {
        text-align: left;
        font-family: 'Roboto', sans-serif;
        height: 6vw;
        font-size: 20px;
        display: flex;
        width: 75%;
        border-spacing: 50px;
        border-bottom: 1px var(--pink) solid;
        padding-bottom: 20px;
        margin: 20px;
        line-height: 28px;

    }


    .chs {
        height: 12vw;
        border-bottom: 1px var(--pink) solid;
        padding-bottom: 20px;
        margin: 20px;
    }




}

@media (min-width: 768px) {
    .sns {
        display: none !important;
    }

}