@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* ===================================================================== */
/* Colors */
/* ===================================================================== */



:root {

    --pink: #FFDFDF;
    --teal: #005E70;
    --teal-light: #D9E7EA;
    --pink-original: #F87474;
    --pink-light: #FEECEC;
    --teal-superlight: #F2F7F8;
    --color-title: #14919B;
    --color-main: #0B6477;
    --color-sub: #C4EBEF;
}


.index a{
    cursor: none;
}



/* ===================================================================== */
/* No Changes Below here */
/* ===================================================================== */


html {
    width: 100vw;
}


body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;

}

.title {
    /* height: 70vh;
    width: 100%; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    margin-top: 3vh;

}



.mainimg {
    width: 18vw;
    height: auto;
    object-fit: cover;
    margin-left: 20%;
    margin-top: 3vw;
    display: block;
    border-radius: 60px;

}


@media (max-width: 1200px) {

    .mainimg {
        width: 18vw;

        margin-left: 12%;

        border-radius: 30px;
    
    }


}



@media (max-width: 756px) {

    .mainimg {
        width: 18vw;

        margin-left: 12%;

        border-radius: 30px;
    
    }


}






/* .empty{
    background-color: var(--color-sub);
    width: 800px;
    height: 400px;
    margin-top: 200px;
} */

.title-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */


}

.tools {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 3vw;
    margin-bottom: 1vw;
    margin-right: 3vw;
}

.skill-logo {
    width: 2em;
    height: auto;
    padding-right: 1vw;

}

.title-box {
    color: var(--color-title);
    font-family: 'Roboto', sans-serif;
    font-size: 3.5vw;
    font-style: normal;
    font-weight: 500;

}





.title-des {
    /* list-style: none; */
    font-family: 'Inter', sans-serif;
    padding-left: 2vw;
    line-height: 1.8em;
    font-size: 1vw;
    padding-top: 2vh;
    color: #543C32;
    font-weight: 600;
}





.brief {
    width: 40vw;
    height: 5vw;
    background-color: var(--color-sub);
    border-radius: 1vw 0 0 1vw;
    margin-top: 2vw;
}



#cal-img,
#group-img {
    width: auto;
    height: 2em;
}

.cal,
.group {
    fill: var(--color-main);
}

.brief,
.cal-box,
.group-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1vw;
}


.group-box {
    padding-left: 2vw;

}






.cal-des,
.group-des {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1vw;
    padding-left: 0.5vw;

}





.main-container {
    display: flex;
    flex-direction: column;

}


.container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 5em;
    align-items: center;
    opacity: 0;
    filter: blur(15px);
    transition: all 1s;


}



.container.show {
    opacity: 1;
    filter: blur(0);

}



.sub-title {
    font-family: 'Inter', sans-serif;
    font-size: 1.5em;
    color: var(--color-main);
    font-weight: 700;
    text-align: center;
    margin-bottom: 5vw;
}


.proto-des {
    margin-bottom: 50px;
    margin-top: 10px;

}



/* ====================================================================================== */
/* Iframe */
/* ====================================================================================== */


.mobile {
    width: 30em !important;
    height: 50em !important;
    border-style: none;
}

.openInFigma {
    background-color: var(--color-title);
    font-weight: 700;
    padding: 1.5em 3em;
    border-radius: 20vw;
    margin-top: 2em;
}

.openInFigma a {
    color: #FFF;
    cursor: none;
}

.proto-des {
    font-weight: 600;
}


/* ====================================================================================== */
/* Styles only for LivMate */
/* ====================================================================================== */



.index,
.index a {
    color: var(--color-main);
    text-decoration: underline;
}

.index a:hover{
    color: var(--color-title);
}

.des {
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: 2em;
}

#es-des {
    width: 35em;
    line-height: 2em;
    background-color: var(--teal-light);
    padding: 3em 1.5em;

}


.esThumb {
    width: 30em;
    height: auto;
    box-shadow: -0.5em 0.5em 1em rgba(0, 0, 0, 0.2);
}


/* ====================================================================================== */
/* User Survey */
/* ====================================================================================== */

#usersurvey {
    background-color: #FFF;
    padding: 3em;
}

.column-container {
    display: flex;
    flex-direction: column;
    width: auto;

}

.row-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.ppl-row {
    display: flex;
    flex-direction: row;
    width: 100em;
}

.ppl {
    width: 50em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 1em;
}

.ppl-des {
    display: flex;
    align-items: center;
    margin-left: 1em;


}


.person {
    width: 3.2em;
    height: auto;
    padding: 0.4em;
}

.ppl12 {
    width: 50em;
    padding: 0 15em;
}

.notes {
    text-align: right;
    font-size: 0.8em;
}


.people {
    width: 20em;
    text-align: center;
    margin: 3em;
    padding: 2em;
    border-radius: 1em;
    line-height: 1.5em;
}

#p10 {
    background-color: #3A82AA;
    color: #FFF;

}

#p2 {
    background-color: #9CC0D4;
}


.bold {
    font-weight: 600;
}

.pie {
    width: 35em;
    margin: 10em 0;
}

.inner-title {
    text-align: center;
    font-weight: 700;
    font-size: 1.2em;
    margin-bottom: 3em;
}

#findingroommate {
    color: #008EE4;
}

#commonproblem {
    color: #004C92;
    margin-top: 8em;
}

#bdrow {
    display: flex;
    align-items: flex-start;
}

#blue-container {
    display: flex;
    align-items: flex-start;
}

#persona-container {
    display: flex;
    align-items: flex-start;
}


.lmheader {
    background-color: #004C92;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    width: auto;
    padding: 2em;
    color: #FFF;
    font-weight: 600;
    border-radius: 1em;
}

#blue {
    width: 16em;
    margin: 0 1em;
}

.problems {
    text-align: center;
    line-height: 2em;
    margin-top: 1.6em;
    color: #004C92;
    font-weight: 600;
}



/* ====================================================================================== */
/* User Persona and Journey Map */
/* ====================================================================================== */

.persona {
    width: 40em;
    height: auto;
    margin: 2em;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 1em;
}

.journeymap {
    width: 70em;
    height: auto;
    margin: 2em;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 1em;
}


/* ====================================================================================== */
/* Wireframe */
/* ====================================================================================== */

.sketch {
    width: 16em;
    height: auto;
    padding: 1.4em;
}

.lofi {
    width: 16em;
    height: auto;
    padding: 1.4em;

}

#spaceEven {
    display: flex;
    align-items: flex-start !important;
    justify-content: flex-start !important;
}




/* ====================================================================================== */
/* Branding Design */
/* ====================================================================================== */

.brand {
    width: 36em;
    height: auto;
    margin-bottom: 2em;
}


.brandDes {
    text-align: center;
    line-height: 1.4em;

}

#half {
    width: 36em;
    margin: 2em;
}



/* ====================================================================================== */
/* Hi-Fi */
/* ====================================================================================== */

.hifi-main {
    width: 18em;
    height: auto;

}

.hifi-sub {
    width: 8em;
    height: auto;
    margin: 0.4em;
    box-shadow: 0.2em 0.2em 0.4em rgba(0, 0, 0, 0.2);

}

#hifi-des1,
#hifi-des2,
#hifi-des3,
#hifi-des4,
#hifi-des5 {
    background-color: var(--teal-superlight);
    width: 32em;
    height: auto;
    border-radius: 2em 0 0 2em;
    padding: 3em 4em;
}

#hifi-des1 {
    padding: 4.2em 4em;
}

#hifi-des2 {
    padding: 3.3em 4em;
}

#hifi-des3 {
    padding: 6em 4em;
}

#hifi-des5 {
    padding: 4em 4em;

}




.icon {
    width: 1.3em;
    height: 100%;
}


#hifi-des-title-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.8em;
    font-weight: 600;
    margin-top: 0.6em;

}

.hifi-des-title {
    margin-left: 0.4em;

}

.hifi-des-detail {
    font-size: 1.1em;
    line-height: 1.6em;
    margin-top: 2em;

}



.hifi-sub-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: -0.6em;
    z-index: -1;
    margin-top: -11em;

}

.hifi-main {
    box-shadow: -0.4em 0.4em 0.4em rgba(0, 0, 0, 0.2);
    border-radius: 3em;
}


.hifi-sub-empty {
    width: 8em;
    height: 10em;
    margin: 0.4em;
    margin-top: -11em;
}

#hifi2 {
    margin-top: -6.4em;

}

#hifi3 {
    margin-top: 5.8em;
}




.styleguide {
    box-shadow: 0em 0.4em 1em rgba(0, 0, 0, 0.2);

}


#container-no-margin {
    margin: 0;
    padding: 0;
    margin-top: 2em;
}

#icon-profile {
    height: 1.5em;
    width: auto;
}


/* ==============================================
pj shift button
============================================== */

.shift-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 2vw;
    margin-right: 3vw;
}

.b-shift-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5em 0;
}


.shift-previous {
    background-color: var(--color-title);
    /* margin-right: 2vw; */
    cursor: none;
    color: white;
    font-size: 1vw;
    font-weight: 600;
    padding: 1vw 2vw;
    border-radius: 10vw;

}


.shift-previous:hover {
    box-shadow: 0.3vw 0.3vw 0.5vw rgba(0, 0, 0, 0.2);
}


.shift-next {
    border: 1px solid var(--color-title);
    cursor: none;
    color: var(--color-main);
    font-size: 1vw;
    font-weight: 600;
    padding: 1vw 2vw;
    border-radius: 10vw;


}

.shift-next {
    display: none;
}







/* ====================================================================================== */
/* Responsive */
/* ====================================================================================== */


@media (max-width: 768px) {

    html,
    body {
        width: 100vw;
        overflow-x: hidden;
    }


    .frame {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 20px;
        margin-top: 30px;

    }

    .proto-des {
        display: none;

    }

    .mobile {
        /* display: none; */
        width: 86vw !important;
        height: 200vw !important;

    }

    .desktop {
        display: none;

        /* width: 90vw !important;
        height: 76vw !important; */
    }


    .openInFigma {
        color: #000 !important;
        background-color: #0AD0C7 !important;
        font-weight: 700;
        padding: 16px 20px;
        border-radius: 20vw;
        cursor: none;
        font-size: 14px;
        margin-top: 0;
    }

    .openInFigma a {
        color: #000 !important;
    }




    .sub-title {
        font-size: 18px;
    }

    .index {
        font-size: 14px;
        line-height: 18px;
    }



    .container {
        margin: 45px 0px;
    }

    /* ==============================================
pj shift button
============================================== */

    .shift-next,
    .shift-previous {
        font-size: 14px;
        padding: 14px 20px;
        margin: 0;
        margin-bottom: 18px;
    }

    .shift-container {
        display: flex;
        flex-direction: row;
        width: 80%;
        justify-content: center;
        margin: 0;
    }

    .b-shift-container {
        margin: 0;
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        width: 80%;
        justify-content: center;
    }

    .shift-next {
        display: none;
    }

    /* ==============================================
survery
============================================== */

    .des {
        text-align: center;
        font-size: 16px;
        line-height: 24px;
        width: 80vw;
    }

    .ppl12 {
        padding: 0;
        width: 300px;
        height: auto;
        margin: 10px 0;
    }

    .ppl-row {
        width: 98%;
        overflow-x: hidden;
    }

    .people {
        width: 140px;
        height: auto;
        margin: 10px;
        font-size: 14px;
        padding: 15px;
    }

    #usersurvey {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        background-color: transparent;
    }

    .notes {
        text-align: center;
        width: 60vw;
    }

    #pie-container {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
    }

    .pie {
        width: 340px;
        height: auto;
        margin: 20px;
    }

    #frfr {
        margin-top: 60px;
        width: 90vw;
    }

    .person {
        width: 25px;
        padding: 5px;
        height: 33px;
    }

    .ppl {
        width: 40vw;
    }

    .ppl-des {
        font-size: 14px;
        width: 40vw;
    }

    #blue-container {
        display: flex;
        flex-direction: column;


    }

    #commonproblem {
        width: 90vw;
    }

    .lmheader {
        padding: 20px 10px;
        text-align: left !important;
        font-size: 14px;
        justify-content: flex-start;
        line-height: 18px;
        height: inherit;
        width: 150px;
    }

    #blue {
        display: flex;
        flex-direction: row;
        width: 90vw;
        align-items: flex-start;
        margin: 20px 0px;
        height: auto;
    }

    #blue li {
        text-align: left;
        width: 160px;
        font-size: 14px;
        line-height: 20px;

    }

    #common-container {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

    }

    .problems {
        font-size: 14px;
        line-height: 18px;
        white-space: nowrap;
        margin: 0;
        margin-left: 30px;


    }

    #persona-container {
        display: flex;
        flex-direction: column;
    }

    .persona {
        width: 95vw;
        height: auto;
        margin: 20px 0;
    }

    .journeymap {
        width: 95vw;
        height: auto;
        margin: 20px 0;

    }

    #spaceEven {
        display: flex;
        flex-direction: column;
        align-items: center !important;
        justify-content: center !important;
    }


    #lofi-row-con {
        display: flex;
        flex-direction: row;
        width: 95vw;
        align-items: center !important;
        justify-content: center !important;
    }

    .lofi {
        width: 40vw;
        height: auto;
        padding: 2vw;


    }


    #bdrow {
        display: flex;
        flex-direction: column;
    }

    #half,
    .brand {
        width: 90vw;
    }

    #hifi-container {
        display: flex;
        flex-direction: column-reverse;
    }

    .hifi-sub-container {
        display: none;
    }


    #hifi-des1,
    #hifi-des2,
    #hifi-des3,
    #hifi-des4,
    #hifi-des5 {
        width: 70vw;
        padding: 30px;
        border-radius: 0 0 1em 1em;
        margin-top: -200px;
        padding-top: 230px;
        z-index: -1;

    }

    .hifi-des-detail {
        font-size: 15px;
    }

    .hifi-main {
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    }

    .styleguide {
        width: 90vw;
        margin-top: 20px;
    }

    #hifi-des-title-container {
        font-size: 24px;
    }

    /* .openInFigma {
        padding: 20px 30px;
    } */

    #es-container {
        display: flex;
        flex-direction: column;
    }

    .esThumb {
        width: 70vw;
        height: auto;

    }

    #es-des {
        width: 70vw;
        line-height: 24px;
        margin-top: -50px;
        z-index: -1;
        padding-top: 80px;
        padding-bottom: 30px;
        border-radius: 0 0 1em 1em;

    }

    .containers {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;



    }

    /* .ppl, */
    .persona,
    .journeymap {
        width: 100%;
        /* Ensures these elements don't exceed the screen width */
        max-width: 100%;
        /* Prevents them from being larger than the viewport */
        overflow-x: hidden;
    }

    img {
        max-width: 100%;
        /* Ensures images don't overflow */
        height: auto;
        /* Maintains aspect ratio */
    }






}