@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
}

.index a {
    cursor: none;
}


.oifm a,
.oifd a {
    cursor: none;
}



.title {
    /* height: 70vh;
    width: 100%; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    margin-top: 2vw;
    height: auto;

}


.mainimg-still {
    width: 50vw;
    height: auto;
    object-fit: cover;

}

.title-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */


}





.tools {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 3vw;
    margin-bottom: 5vw;
    margin-right: 3vw;
}

.skill-logo {
    width: 2em;
    height: auto;
    padding-right: 1vw;

}

.title-box {
    color: #ff8d3a;
    font-family: 'Roboto', sans-serif;
    font-size: 3.5vw;
    font-style: normal;
    font-weight: 500;

}



.title-des {
    /* list-style: none; */
    font-family: 'Inter', sans-serif;
    padding-left: 2vw;
    line-height: 1.8em;
    font-size: 1vw;
    padding-top: 3vh;
    color: #a14d00;
    font-weight: 600;
}






.brief {
    width: 40vw;
    height: 5vw;
    background-color: #FCEDDA;
    border-radius: 1vw 0 0 1vw;
    margin-top: 2.4vw;
}



#cal-img,
#group-img {
    width: auto;
    height: 2em;
}

.cal,
.group {
    fill: #5b524b;
}

.brief,
.cal-box,
.group-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1vw;
}

.group-box {
    padding-left: 2vw;

}





.cal-des,
.group-des {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1vw;
    padding-left: 0.5vw;

}



.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;

}


.rr-1 {
    width: 20vw;
}

.section1 {
    display: flex;
    flex-direction: row;
}

.background {
    width: 60vw;
    height: 20vw;
    background-color: #ff8d3a;

}

.full {
    width: 100%;
    height: auto;
}


.frame {
    display: flex;
    flex-direction: row;
    gap: 5vw;
    margin-top: 10vh;
}


.main-conatiner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}






.problem {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin-top: 5vw;
    height: auto;
    align-items: center;
    justify-content: center;
}


.p1 {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    text-align: center;



}

.p2 {
    display: flex;
    flex-direction: row;
    height: auto;

}


.prob1 {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    text-align: center;

}

.prob2 {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 40em;
    padding-bottom: 3vw;
    background-color: white;
    border-radius: 5vw;

}


.prob3 {
    margin-top: 2vw;
}

.mac,
.window {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 20em;
    justify-content: center;


}

.p3 {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    text-align: center;


}

#logoap {
    width: 7em;
    padding-top: 2.5vw;

}


#logowi {
    width: 6em;
    padding-top: 3.5vw;
}


#p1 {
    margin-top: 3vw;
    justify-content: flex-start;

}

#p2 {
    margin-top: 3vw;
    justify-content: flex-start;

}

#c1 {
    padding-top: 3vw;
    justify-content: flex-start;

}

#c2 {
    padding-top: 6.9vw;
    justify-content: flex-start;
}

#heyhey {
    padding-bottom: 2.1vw;

}


.executive {
    display: flex;
    flex-direction: column;
    width: 100vw;

    height: auto;
    margin-top: 10vw;





}


.processing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 10vw;

}

.summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    line-height: 2vw;

}


#vulnerable {
    line-height: 1.4em;
    font-weight: 600;
    padding: 3vw 0;
    text-align: center;
    font-size: 1em;
    color: black;
    width: 40vw;


}

#r-vulnerable {
    line-height: 1.4em;
    font-weight: 600;
    padding: 1vw 0;
    text-align: center;
    font-size: 1em;




}



.p-statement {
    font-weight: 600;
    font-size: 0.8em;

}

.porc {
    line-height: 1.5em;
    text-align: center;
    font-size: 0.8rem;
}


.porc2 {
    line-height: 1.5em;
    text-align: center;
    font-size: 1rem;
}




.proscons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1vw;
    font-size: 1.1vw;

}


#element {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vw 0;
    font-size: 1.1em;
    font-weight: 800;
    color: #a14d00;
    /* text-decoration: #ff8d3a wavy underline; */
    /* text-underline-offset: 0.5vw; */
    border-top: 2px solid #ff8d3a;
    width: 100%;





}

#inner {
    font-size: 0.9em;
    color: black;
    width: 50em;
    padding-top: 3vw;
    text-align: center;
    text-decoration: #FCEDDA wavy underline;
    text-underline-offset: 2vw;



}

.smaller {
    width: 80%;
    height: auto;
}

.statement {
    color: black;
    font-weight: 700;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;



}

.statement-title {
    color: #FCEDDA;
    background-color: #ff8d3a;
    width: fit-content;
    text-align: center;
    padding: 1vw 2vw;
    border-radius: 10vw;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    font-size: 1.2em;


}

#bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vw 0;
    border-top: 2px solid #ff8d3a;
    width: 100%;

    /* font-weight: 600; */


}

.openlink {
    width: 5em;
    cursor: none;
    padding-top: 4vw;
}

.p4-container {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.inner-icon {
    width: 5em;
    padding: 4vw 1vw;


}


.inner-title {
    text-align: center;
    padding-top: 3vw;
    padding-bottom: 1vw;
    text-decoration: none;
}


.download {
    border: 0.18vw solid #ff8d3a;
    /* border-color:#F87474; */
    background-color: transparent;
    width: 8vw;
    height: 3vw;

    border-radius: 10vw;
    color: #ff8d3a;
    font-family: "Roboto", sans-serif;

    font-size: 1.1em;
    font-weight: 500;
    cursor: none;
    margin-top: 1vw;


}

.download:hover {
    background-color: #ff8d3a;
    color: #FCEDDA;


}

ol {
    font-weight: 500;
    color: black;
    margin: 3vw 0;
}

.steps {
    margin: 1vw 0;
    text-align: left;
    font-size: 1em;

}

span {
    font-weight: 700;
    padding-right: 0.5vw;
}




#psps {
    margin-bottom: 3vw;
}


/* .p7-5{
    background-color: white;
} */


.white {
    background-color: #FFF;
    margin-top: 2vw;
    padding-bottom: 3vw;
    border-radius: 0.8vw;
}

li a {
    color: #a14d00;
    text-decoration: underline;
}

li a:hover {
    color: #ff8d3a;
    text-decoration: underline;
}



/* ==============================================
pj shift button
============================================== */

.shift-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 2.5vw;
    margin-right: 3vw;
}

.b-shift-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5em 0;
}


.shift-previous {
    background-color: #ff8d3a;
    margin-right: 2vw;
    cursor: none;
    color: white;
    font-size: 1vw;
    font-weight: 600;
    padding: 1vw 2vw;
    border-radius: 10vw;
}


.shift-previous:hover {
    box-shadow: 0.3vw 0.3vw 0.5vw rgba(0, 0, 0, 0.2);
}


.shift-next {
    border: 1px solid #ff8d3a;
    cursor: none;
    color: #5b524b;
    font-size: 1vw;
    font-weight: 600;
    padding: 1vw 2vw;
    border-radius: 10vw;


}



.shift-next:hover {
    box-shadow: 0.3vw 0.3vw 0.5vw rgba(0, 0, 0, 0.2);
}






@media (max-width: 768px) {
    .main-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }

    .statement {
        width: 80vw;
    }

    .statement-title {
        font-size: 16px;
        font-weight: 600;
        padding: 8px 20px;
        margin: 20px 0;
    }

    .problem,
    .executive {
        margin: 0;
        width: 85%;

    }

    .prob2 {
        display: flex;
        flex-direction: column;
    }

    .mac,
    .window {
        width: 100%;
        margin: 20px 0;
    }

    #vulnerable,
    #r-vulnerable {
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
        padding: 20px 0px;
        width: 80vw;
    }

    #r-vulnerable {

        width: 80vw;
        padding: 10px 0;

    }

    .prob2 {
        width: 90%;
        gap: 4%;
        padding: 15px;
    }

    .prob3 {
        margin-bottom: 20px;
    }

    /* .mac,
    .window{
        width: 48%;
        padding: 5px;
    } */

    .porc {
        font-size: 12px;
        line-height: 15px;
    }

    .porc2 {
        font-size: 12px;
        line-height: 15px;
    }


    #p2 {
        padding-top: 10px;
    }


    #c2 {
        padding-top: 40px;
    }


    #element,
    #inner,
    #bottom {
        width: 95%;
    }

    #element {
        font-size: 14px;
        line-height: 18px;
    }

    .openlink {
        width: 50px;
        height: 50px;
    }

    .steps,
    #inner {
        font-size: 14px;
        line-height: 16px;

    }

    .download {
        width: 120px;
        height: 30px;
        margin-top: 20px;
        font-size: 14px;

    }

    /* ==============================================
pj shift button
============================================== */

    .shift-next,
    .shift-previous {
        font-size: 14px;
        padding: 14px 20px;
        margin: 0;
        margin-bottom: 18px;
    }

    .shift-container {
        display: flex;
        flex-direction: row;
        width: 80%;
        justify-content: space-between;
        margin: 0;
    }

    .b-shift-container {
        margin: 0;
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        width: 80%;
        justify-content: space-between;
    }


}